<div class="container mt-3">
  <div class="row w-100">
    <div
      class="col-lg-6 col-md-12 mb-3 custom-margin"
      *ngFor="let newsObject of news; trackBy: identify"
    >
      <div
        class="d-lg-flex flex-fill p-3 rounded align-items-center text-center"
        style="background-color: rgb(248, 248, 248); border: 2px solid gray"
        (click)="openModal(newsObject)"
      >
        <img
          alt="News Image"
          [src]="newsObject.image"
          class="border rounded-3 img-fluid col-12 col-lg-4"
        />

        <div class="ms-3 col-lg-8">
          <p>{{ newsObject.headline }}</p>
          <app-modal></app-modal>
        </div>
      </div>
    </div>
  </div>
</div>
