<input
  style="
    width: 100%;
    padding: 0;
    margin: 0;
    color: gray;
    vertical-align: bottom;
    margin-left: 20px;
    border: none;
    height: 100%;
  "
  required
  oninput="this.value = this.value.toUpperCase()"
  [value]="this.ticker"
  id="ticker"
  autocomplete="off"
  placeholder="Enter Stock Ticker symbol"
  type="text"
  aria-label="Number"
  matInput
  [formControl]="inputControl"
  [matAutocomplete]="auto"
  #searchQuery
/>
<mat-autocomplete
  #auto="matAutocomplete"
  (optionSelected)="onOptionSelected($event)"
>
  @for (option of filteredList | async; track option) {
  <mat-option [value]="option.displaySymbol"
    >{{ option.displaySymbol }} | {{ option.description }}</mat-option
  >
  }
</mat-autocomplete>
