<div
  style="
    margin: auto;
    width: fit-content;
    margin-top: 2rem;
    height: calc(15vh-2rem);
  "
>
  <div style="margin: auto; width: fit-content; font-size: x-large">
    STOCK SEARCH
  </div>
  <!-- //required check -->

  <div
    style="
      margin-top: 1rem;
      height: 2.5rem;
      background-color: white;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      padding-left: 1rem;
      padding-right: 2rem;
      box-shadow: 1px 1px 1px 1px rgb(223, 223, 223, 0.5);
      justify-content: space-between;
      border: 3px solid #2224a2;
      width: 20vw;
      min-width: 20rem;
    "
  >
    <div
      style="
        display: flex;
        align-items: center;
        color: #dfdfdfcc;
        font-weight: 300;
      "
    >
      <input
        style="
          padding: 0;
          margin: 0;
          color: gray;
          width: 100%;
          min-width: 15rem;
          border: 0;
        "
        required
        oninput="this.value = this.value.toUpperCase()"
        [value]="this.ticker"
        id="ticker"
        autocomplete="off"
        placeholder="Enter Stock Ticker symbol"
        type="text"
        aria-label="Number"
        matInput
        [formControl]="inputControl"
        [matAutocomplete]="auto"
        #searchQuery
      />

      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onOptionSelected($event)"
      >
        <mat-option *ngIf="this.loading && this.inputControl.value !== ''">
          <mat-spinner
            *ngIf="this.loading"
            [diameter]="20"
            class="spinner"
          ></mat-spinner>
        </mat-option>
        @for (option of filteredList | async; track option) {
        <mat-option
          [value]="option.displaySymbol"
          *ngIf="!this.loading && this.inputControl.value !== ''"
        >
          {{ option.displaySymbol }} | {{ option.description }}
        </mat-option>
        }
      </mat-autocomplete>
    </div>

    <div style="display: flex; align-items: center; gap: 1rem">
      <label>
        <input style="display: none" type="submit" (click)="searchTicker()" />
        <svg
          width="15px"
          height="15px"
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="search"
          class="svg-inline--fa fa-search fa-w-16"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          style="cursor: pointer"
        >
          <path
            fill="currentColor"
            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
          ></path>
        </svg>
      </label>
      <label>
        <button style="display: none" type="reset"></button>
        <svg
          width="15px"
          height="15px"
          aria-hidden="divue"
          focusable="false"
          data-prefix="fas"
          data-icon="times"
          class="svg-inline--fa fa-times fa-w-11"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 352 512"
          style="cursor: pointer"
          (click)="clearSearch()"
        >
          <path
            fill="currentColor"
            d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"
          ></path>
        </svg>
      </label>
    </div>
  </div>
</div>
<div class="mx-3 mx-lg-5 mt-2 mt-lg-5">
  <app-custom-alert></app-custom-alert>
</div>
