<div class="d-md-flex h-100" style="height: 100%">
  <div class="pt-2 d-flex flex-column w-100 w-lg-50 py-2 gap-3">
    <div style="font-size: small" class="ms-lg-5 mt-4 mx-auto text-lg-left">
      <div>
        <div class="d-flex gap-1">
          <div><b>High Price:</b></div>
          <div>{{ stockData?.highPrice }}</div>
        </div>
      </div>
      <div>
        <div class="d-flex gap-1">
          <div><b>Low Price:</b></div>
          <div>{{ stockData?.lowPrice }}</div>
        </div>
      </div>
      <div>
        <div class="d-flex gap-1">
          <div><b>Open Price:</b></div>
          <div>{{ stockData?.openPrice }}</div>
        </div>
      </div>
      <div>
        <div class="d-flex gap-1">
          <div><b>Prev Close:</b></div>
          <div>{{ stockData?.prevClosePrice }}</div>
        </div>
      </div>
    </div>
    <div class="text-center" style="font-size: small">
      <div>
        <u><b>About the company</b></u>
      </div>
      <div class="mt-2">
        <span><b>IPO Start Date:</b></span>
        {{ stockData?.ipoStartDate }}
      </div>
      <div>
        <span><b>Industry:</b> </span>
        {{ stockData?.industry }}
      </div>
      <div>
        <span><b> Webpage: </b></span>
        <a
          [href]="stockData?.webpage"
          rel="noopener noreferrer"
          target="_blank"
          >{{ stockData?.webpage }}</a
        >
      </div>
      <div><b>Company peers:</b></div>
      <div class="me-2">
        <span
          ><a
            *ngFor="let peer of stockData?.companyPeers"
            (click)="navigateToPeer(peer)"
            >{{ peer }},</a
          ></span
        >
      </div>
    </div>
  </div>
  <div [id]="this.stockData.ticker" class="w-lg-50 w-100">
    <highcharts-chart
      [Highcharts]="highcharts"
      [options]="chartOptions"
      style="height: 300px; display: block"
      *ngIf="!this.fetchError"
    >
    </highcharts-chart>
    <div *ngIf="this.fetchError">
      Polygon Api Error fetching the chart please refresh the page in a while
    </div>
  </div>
</div>
