<h3 class="mx-3 mx-lg-5 mt-3">My Portfolio</h3>
<div class="mx-3 mx-lg-5 mt-3">
  <app-custom-alert></app-custom-alert>
</div>
<div class="mx-3 mx-lg-5 my-3">
  <h5>Money in wallet: ${{ this.balance?.toFixed(2) }}</h5>
  <div *ngIf="this.alertShow">
    <ngb-alert type="warning" [dismissible]="false">
      Currently you don't have any stock
    </ngb-alert>
  </div>
  <div class="card mt-4" *ngFor="let portfolioItem of portfolio">
    <div class="card-header">
      <div class="d-flex align-items-end">
        <span class="fw-bold fs-5 p-0 m-0">
          {{ portfolioItem?.ticker }}
        </span>
        <span class="px-2 text-bg-light fw-bolder text-secondary m-0 p-0">
          {{ portfolioItem?.corporationName }}
        </span>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col">
              <strong>Quantity:</strong>
            </div>
            <div class="col">
              <span class="fw-bold">{{
                formatNo(portfolioItem?.quantity)
              }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Avg Cost / Share:</strong>
            </div>
            <div class="col">
              <span class="fw-bold">{{
                formatNo(portfolioItem.averageCost.toFixed(2))
              }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Total Cost:</strong>
            </div>
            <div class="col">
              <span class="fw-bold">{{
                formatNo(portfolioItem.totalCost?.toFixed(2))
              }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col">
              <strong>Change:</strong>
            </div>
            <div class="col">
              <span class="fw-bold">{{
                formatNo(portfolioItem?.change?.toFixed(2))
              }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Current Price:</strong>
            </div>
            <div class="col">
              <span class="fw-bold">{{
                formatNo(portfolioItem.price?.toFixed(2))
              }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Market Value:</strong>
            </div>
            <div class="col">
              <span class="fw-bold">{{
                formatNo(portfolioItem.price?.toFixed(2))
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      <div class="d-flex gap-2">
        <div
          class="border border-primary btn btn-primary"
          (click)="openStockModal(false, portfolioItem)"
        >
          Buy
        </div>
        <div
          class="border border-danger btn btn-danger"
          (click)="openStockModal(true, portfolioItem)"
        >
          Sell
        </div>
      </div>
    </div>
  </div>
  <app-stock-modal></app-stock-modal>
</div>
<mat-spinner [diameter]="70" *ngIf="this.loading" class="spinner"></mat-spinner>
