<h3 class="mx-3 mx-lg-5 mt-3">My Portfolio</h3>
<div class="mx-3 mx-lg-5 mt-3">
  <app-custom-alert></app-custom-alert>
</div>
<div class="mx-3 mx-lg-5 my-3">
  <h5>Money in wallet: ${{ this.balance?.toFixed(2) }}</h5>
  <div *ngIf="this.alertShow">
    <ngb-alert type="warning" [dismissible]="false">
      Currently you don't have any stock
    </ngb-alert>
  </div>
  <div class="card mt-4" *ngFor="let portfolioItem of portfolio">
    <div class="card-header">
      <div class="d-flex align-items-end">
        <span class="fw-bold fs-5 p-0 m-0">
          {{ portfolioItem?.ticker }}
        </span>
        <span class="px-2 text-bg-light fw-bolder text-secondary m-0 p-0">
          {{ portfolioItem?.corporationName }}
        </span>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col">
              <strong>Quantity:</strong>
            </div>
            <div class="col">
              <span class="fw-bold">{{
                formatNo(portfolioItem?.quantity)
              }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Avg Cost / Share:</strong>
            </div>
            <div class="col">
              <span class="fw-bold">{{
                formatNo(portfolioItem.averageCost.toFixed(2))
              }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Total Cost:</strong>
            </div>
            <div class="col">
              <span class="fw-bold">{{
                formatNo(portfolioItem.totalCost?.toFixed(2))
              }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col">
              <strong>Change:</strong>
            </div>

            <div
              class="col"
              [class]="
                portfolioItem.change > 0
                  ? ' text-success'
                  : portfolioItem.change < 0
                  ? 'text-danger'
                  : ''
              "
            >
              <span *ngIf="portfolioItem.change > 0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-up-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
                  />
                </svg>
              </span>
              <span *ngIf="portfolioItem.change < 0"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-down-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
                  />
                </svg>
              </span>
              <span class="fw-bold">{{
                formatNo(portfolioItem?.change?.toFixed(2))
              }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Current Price:</strong>
            </div>
            <div
              class="col"
              [class]="
                portfolioItem.change > 0
                  ? ' text-success'
                  : portfolioItem.change < 0
                  ? 'text-danger'
                  : ''
              "
            >
              <span class="fw-bold">{{
                formatNo(portfolioItem.price?.toFixed(2))
              }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <strong>Market Value:</strong>
            </div>
            <div class="col">
              <span
                class="fw-bold"
                [class]="
                  portfolioItem.change > 0 ? ' text-success' : 'text-danger'
                "
                >{{ formatNo(portfolioItem.price?.toFixed(2)) }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      <div class="d-flex gap-2">
        <div
          class="border border-primary btn btn-primary"
          (click)="openStockModal(false, portfolioItem)"
        >
          Buy
        </div>
        <div
          class="border border-danger btn btn-danger"
          (click)="openStockModal(true, portfolioItem)"
        >
          Sell
        </div>
      </div>
    </div>
  </div>
  <app-stock-modal></app-stock-modal>
</div>
<mat-spinner [diameter]="70" *ngIf="this.loading" class="spinner"></mat-spinner>
