<h3 class="mt-5 mx-3 mx-lg-5">My Watchlist</h3>
<div class="mx-3 mx-lg-5 my-lg-5 my-3">
  <app-custom-alert></app-custom-alert>
  <div *ngFor="let watchListItem of watchList" class="card px-3 py-2 my-2">
    <button
      type="button"
      class="btn btn-close si btn-sm"
      aria-label="Close"
      (click)="watchListItemDelete(watchListItem.ticker)"
    ></button>
    <div
      class="d-flex justify-content-between pe-3 pe-lg-5 cursor card-content"
      (click)="openSearch(watchListItem.ticker)"
    >
      <div>
        <div class="fs-4 fw-medium">{{ watchListItem.ticker }}</div>
        <div>{{ watchListItem.corporationName }}</div>
      </div>
      <div [class]="watchListItem.change > 0 ? ' text-success' : 'text-danger'">
        <span class="fw-bold fs-5">{{ watchListItem.price.toFixed(2) }}</span>
        <div>
          <span *ngIf="watchListItem.change > 0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-up-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
              />
            </svg>
          </span>
          <span *ngIf="watchListItem.change < 0"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
              />
            </svg>
          </span>
          <span class="pe-1 small fw-medium">{{
            watchListItem.change.toFixed(2)
          }}</span>
          <span class="small fw-medium"
            >({{ watchListItem.changePercentage.toFixed(2) }}%)</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<mat-spinner [diameter]="70" *ngIf="this.loading" class="spinner"></mat-spinner>
