.image-overlay-text {
  color: white;
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 0.7rem;
  margin: 0;
  padding: 0;
}
button {
  background: transparent;
}
button:hover {
  cursor: pointer;
}
.parallax {
  background-image: url("assets/image3.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 903px;
  width: 903px;
  height: 70vh;
  position: relative;
  border: 2px solid green;
}

.parallax2 {
  /* The image used */
  background-image: url("assets/image2.png");
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 1234px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 18rem;
}
.gallery {
  flex: 3;
  height: 40vh;
  position: absolute;
  color: white;
  object-fit: contain;
  /* Create the parallax scrolling effect */
  top: 10%;
}
.link {
  text-decoration: none;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: grey;
}
