.main {
  background-image: url("../assets/back.svg");
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
  width: 1440px;
  background-position: top;
  background-attachment: fixed;
  border: 2px solid red;
  margin: auto;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  color: grey;
}
body {
  margin: 0;
  padding: 0;
}
div:hover > svg {
  color: gray;
}
input:focus {
  outline: none;
}
