.main {
  background-image: url("../assets/back.svg");
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
  width: 1440px;
  background-position: top;

  margin: auto;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  color: grey;
}
body {
  margin: 0;
  padding: 0;
}
label:hover > svg {
  color: gray;
}
input:focus {
  outline: none;
}
.tab {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-size: 14px;
  cursor: pointer;
}
.tab.active {
  background-color: rgb(204, 204, 204);
}
.tab:hover {
  background-color: rgba(221, 221, 221, 0.5);
}
.tabpage {
  display: none;
}
.tabpage.active {
  margin-top: 20px;
  /* border: 2px solid red; */
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
td {
  height: 10px;
  max-height: 10px;
}
.colname {
  font-size: small;
  font-weight: 400;
  color: black;
  text-align: right;
}
.colvalues {
  padding-left: 10px;
  font-size: small;
  font-weight: 400;
  text-align: left;
}
.company-content {
  display: flex;
  align-items: center;
}

.row-container {
  display: flex;
  gap: 10px;
}
.tabpage-content {
  margin-top: 15px;
  gap: 10px;
  display: flex;
}

input[type="submit"] {
  display: none;
}
#tab-group {
  display: none;
}

#tab-page-group {
  display: none;
}
#tab-page-group.active {
  display: block;
}
#tab-group.active {
  /* border: 2px solid red; */
  margin-top: 170px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  display: flex;
  background-color: rgb(250, 250, 250);
}

#notfound {
  display: none;
}

#notfound.active {
  display: block;
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  color: black;
  background-color: rgb(233, 233, 233);
  width: 600px;
  border-radius: 10px;
}
.newsCard {
  display: flex;
  color: black;
  gap: 20px;
  width: 950px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding: 25px;
  background-color: rgb(250, 250, 250);
  align-items: flex-start;
}
#news-tab-page.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.news-headline {
  font-size: 20px;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}
.news-date {
  font-weight: 400;
}
.r-tile {
  width: 20px;
  height: 20px;
  padding: 10px;
}
.colborder {
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.recom-ind {
  width: 45px;
  text-wrap: wrap;
  text-align: center;
}
.row-border {
  border-bottom: 2px solid rgb(245, 245, 245);
  border-top: 2px solid rgb(245, 245, 245);
}
td p {
  margin: 2px;
}
td {
  width: 250px;
}

body {
  font-family: sans-serif;
}
